__Python Practice Assignment__

# Calculate the area of a circle

Area of a circle equation is :

$A =\pi r^2$

In [1]:
# Constant value of pi

pi = 3.14 

# Radius of a circle(r)

r = float(input("Enter the radius value of a circle :"))

# Area of a circle will be (A)

A = pi*(r**2)

print("Area of a circle is %.2f" %A, "sqm.")

Enter the radius value of a circle :5
Area of a circle is 78.50 sqm.

# Say Hello to user, Expected, ‘Hello name’

In [2]:
name = input("Enter your name : ")
print("Hello "+name)

Enter your name : 5
Hello 5

# Calculate Volume of Sphere

The equation for volume of sphere is--

$V = \frac{{4\pi r^3 }}{3}$

In [3]:
# Constant value of pi

pi = 3.14 

# Radius of a circle(r)

r = float(input("Enter the radius value of a circle :"))

# Volume of a sphere (V) is

V = (4*pi*(r**3))/3

print("The volume of a sphere is %.2f" %V, "cubm.")

Enter the radius value of a circle :5
The volume of a sphere is 523.33 cubm.

# Copy string in n times

In [4]:
string = "I am happy to join with Integrify.\n"

n = int(input("Enter the number of times to copy strings: "))

print("\n")
print(string*n, sep =",")

Enter the number of times to copy strings: 5


I am happy to join with Integrify.
I am happy to join with Integrify.
I am happy to join with Integrify.
I am happy to join with Integrify.
I am happy to join with Integrify.

# Calculate the area of a triangle

Area of a triangle equation :

$A = \frac{1}{2}bh$

Where
- A = Area
- b = Base
- h = Height

In [5]:
# Base of a triangle in meter
b = float(input("Enter the base of a triangle in meter : "))

# Height of a triangle in meter
h = float(input("Enter the height of a triangle in meter : "))

# Area 
A = 0.5*b*h
print(A)

Enter the base of a triangle in meter : 5
Enter the height of a triangle in meter : 5
12.5

# Calculate the interest

In [6]:
# Calculate the simple interest
capital_amount = float(input("Please enter the capital amount in kr : "))
rate_of_interest = float(input("Please enter the rate of interest in percent : "))
time_period = int(input("Please enter the time period in years : "))

simple_interest = (capital_amount*rate_of_interest*time_period)/100

print("\nSimple interest for capital amount {} = {}".format(capital_amount, simple_interest))

Please enter the capital amount in kr : 5
Please enter the rate of interest in percent : 5
Please enter the time period in years : 5

Simple interest for capital amount 5.0 = 1.25

# Calculate Euclidean distance (-Shortest distance between two points )

Formula : 

$d\left( p,q\right)   = \sqrt {\sum _{i=1}^{n}  \left( q_{i}-p_{i}\right)^2 }$

In [7]:
import math

# First Point (p)
p = (4,5,6)

# Second point (q)
q = (1,2,3)

# Calculate the distance between points p & q
distance = math.sqrt(sum([(a - b) ** 2 for a, b in zip(p, q)]))

print("Euclidean distance from p to q is : %.2f " %distance)

Euclidean distance from p to q is : 5.20

# Feet to centimeter converter

- 1 feet = 30.48 cm
- 1 feet = 12 inches
- 1 inch = 2.54 cm

In [1]:
def convert_feet_to_cm(feet):
    return feet*30.48
convert_feet_to_cm(5)

152.4

# BMI (Body Mass Index) calculator

$BMI = weight/height^2$

In [9]:
# Height
height = float(input("Input your height in feet : "))

# Weight
weight = float(input("Input your weight in kilogram : "))

# Calculate the BMI
print("Your body mass index is: ", round(weight / (height * height), 2))

Input your height in feet : 5
Input your weight in kilogram : 5
Your body mass index is:  0.2

In [10]:
def bmi(height, weight):
    a = round(int(weight)/int(height**2),2)
    print("Body mass index will be :", a)
bmi(6,65)

Body mass index will be : 1.81

# Binary to Decimal conversion (Using function)

In [11]:
# Define a function name BintoDec with one parameter
def BinToDec(b):
    return int(b, 2)

print("Enter the Binary Number: ", end="")
binary_num = input("Enter the binary number to convert decimal: ")

decimal_num = BinToDec(binary_num)
print("\nEquivalent Decimal Value for inserted binary number = ", decimal_num)

Enter the Binary Number: Enter the binary number to convert decimal: 1100

Equivalent Decimal Value for inserted binary number =  12

# Receive two integral numbers in string form and compute their sum and then print it in console.

In [12]:
# function to calculate and return the sum parameters:
# a, b - integral numbers in string format

# return: sum of the numbers in integer format

def calculateSum(a,b):
    s = int(a) + int(b)
    return s

# take two integral numbers as strings
num1 = "10"
num2 = "20"

# calculate sum
sum = calculateSum (num1, num2)

# print sum
print ("Sum = ", sum)

Sum =  30

In [2]:
def sum_of(a,b):
    print(int(a) + int(b))
sum_of(5,7)

12

# Bitwise operators for any two variable all the bitwise operator that are there

# Shift operators

In [13]:
a = 12
print("binary of value 12 is :", bin(a))

# Shift 4 step to the left
print("move to the left", bin(a<<4))

# Shift 4 step to the right
print("move to the right",bin(a>>4))

binary of value 12 is : 0b1100
move to the left 0b11000000
move to the right 0b0

## Bitwise AND

In [14]:
a = 15
b = 20
print("Bitwise addition with AND is : ", a & b)

Bitwise addition with AND is :  4

## Bitwise OR

In [15]:
print("Bitwise add operation with OR is :", a|b)

Bitwise add operation with OR is : 31

## Bitwise XOR

In [16]:

a = 60
b = 30
print("Bitwise XOR operation : ", a^b)

print("Not bitwise operation : ", ~a)

Bitwise XOR operation :  34
Not bitwise operation :  -61

# Check 'is' present in str1

In [17]:
str1=" this is a sample daTaa to test for the task"

# Check 'is' present in str1
print(str1.find("is"))

3

# Check 'was' not present in str1

In [18]:
# Check 'was' not present in str1
print(str1.find("was"))

-1

# Print str1 as uppercase

In [19]:
print(str1.upper())

 THIS IS A SAMPLE DATAA TO TEST FOR THE TASK

# Print str1 as a title

In [20]:
title = str1.title()
print(title)

 This Is A Sample Dataa To Test For The Task

# Get a new string from str1 ‘DatTaa’ as ‘Data’

In [21]:
Data = title[18:24]
print(Data)

Dataa

# Print a new string with extra "a" removed form previous task

In [22]:
Data1 = Data[0:4]
print(Data1)

Data

# Display ‘sample’ word from ‘ this is another sample string ‘

In [23]:
sample = "this is another sample string"

sample_word = sample[16:22]
print(sample_word)

sample

#  Display date, month and year form 21-oct-2020

In [24]:
import datetime

dt = datetime.datetime(2020, 10, 21)

dt1 = dt.strftime("%d-%b-%Y")
print("Formated date :", dt1)

Formated date : 21-Oct-2020

In [3]:
def extract_date_month_year(string):
    '''Given a string it extracts the date, month and year
     Input : string: the original string 
     Output: date, month and year
    '''
    date_vals = string.split("-")
    print("Date : ", date_vals[0], " Month : ", date_vals[1], " Year : ", date_vals[2])
    return(date_vals)

date_string = '21-oct-2020'
print(extract_date_month_year(date_string))

Date :  21  Month :  oct  Year :  2020
['21', 'oct', '2020']

# arr = “10,20,30,40,50,60,70”, get “50,60”

In [25]:
!pip install numpy
import numpy as np
arr = np.array([10,20,30,40,50,60,70])
arr[4:6]

Requirement already satisfied: numpy in ./miniconda3/lib/python3.8/site-packages (1.20.2)

array([50, 60])

# using negative index get "50 ,60"

In [26]:
arr[-3:-1]

array([50, 60])

#  From credit_str get ‘8888’ credit_str = "xxxx----xxxx-8888------xxxx"

In [27]:
credit_str = "xxxx----xxxx-8888------xxxx"
credit_str[13:17]

'8888'

# From credit_str get ‘0’ credit_str = "1234-5678-9878-0434

In [28]:
credit_str = "1234-5678-9878-0434"
credit_str[-4]

'0'

# convert a integer into a string and print it in console.

In [29]:
x = 123
y = str(x)
print(y)
print(type(y))

123
<class 'str'>

# Take two strings as input and concatenate them and then print it

In [30]:
str1 = input("Enter the first string : ")
str2 = input("Enter the 2nd string : ")

print("Concatenate teh strins : ", str1 +" " + str2)

Enter the first string : bs
Enter the 2nd string : bd
Concatenate teh strins :  bs bd

# convert the given string into list given_string = " Apples is differnt from Apple Inc"

In [31]:
given_string = " Apples is differnt from Apple Inc"
given_string.split()

['Apples', 'is', 'differnt', 'from', 'Apple', 'Inc']

# print type of a and get the 1 element a = {(1,2):1,(2,3):2}

In [32]:
a = {(1,2):1,(2,3):2}
print(type(a))

<class 'dict'>

In [33]:
# Get the 1 element from dictionary
a[(1,2)]

1

In [34]:
a.values()

dict_values([1, 2])

In [35]:
a.keys()

dict_keys([(1, 2), (2, 3)])

In [36]:
a.get(1)

# write a program to get list as 4,3,2 from the list below a=1,2,3,4,5

In [12]:
a=[1,2,3,4,5]
b = a[1:4]
b[::-1]

[4, 3, 2]

# write a program to get odd number only using a slicing a=1,2,3,4,5,6,7,8,9

In [41]:
a=[1,2,3,4,5,6,7,8,9]

# Show Odd numbers only
a[:10:2]

[1, 3, 5, 7, 9]

# create a tuple with (1,2) 5 times

In [14]:
tup = (1,2)
print((tup,)*5)

((1, 2), (1, 2), (1, 2), (1, 2), (1, 2))

# from given list create separate lists of strings and numbers.use list comprehension

In [43]:
gadgets = ["Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00, "Television", 1000, "Laptop Case", "Camera Lens"]

# Show the strings in separate list
strings = sorted([x for x in gadgets if type(x) is str])
strings

['Camera',
 'Camera Lens',
 'Laptop',
 'Laptop Case',
 'Mobile',
 'Speakers',
 'Television']

In [44]:
# Show the numbers in a new list
numbers = sorted([x for x in gadgets if type(x) is not str])
numbers

[27.0, 100, 310.28, 1000]

# An array is given from the array find the sum of diagonal using list comprehension.

In [13]:
a_2d = [[1,2,3],
        [4,5,6],
        [7,8,9]]
first_diagonal_sum = sum([a_2d[i][i] for i in range(3)])
second_diagonal_sum = sum([a_2d[i][3-i-1] for i in range(3)])
print(f"first diagonal sum = {first_diagonal_sum}")
print(f"second diagonal sum = {second_diagonal_sum}")

first diagonal sum = 15
second diagonal sum = 15

# convert number into tuple of words using comprehension

In [48]:
ref_num= [(0,'zero'),(1,'one'),(2,'two'),(3,'three'),(4,'four'), (5,'five'),(6,'six'),(7,'seven'),(8,'eight'),(9,'nine')] 
num = str(8976543201)
num_list= [x for x in num]
tuple_word_list_tuple = tuple([j[1] for i in range(len(num_list)) for j in ref_num if num_list[i] == j[0]])
print(tuple_word_list_tuple)

()

# print the numbers which are divisible by 2 but are not a multiple of 5

In [49]:
numbers = range(1, 25)
nums = [i for i in numbers if i%2==0 and i%5!=0]
nums

[2, 4, 6, 8, 12, 14, 16, 18, 22, 24]

# Print the sum of tuple : use comprehension

In [17]:
init_tuple = [(0, 1), (1, 2), (2, 3)]

# Show the output as tuple then convert to tuple after comprehension
tuple_sum = tuple([sum(x) for x in init_tuple])
tuple_sum

(1, 3, 5)

In [18]:
type(tuple_sum)

tuple

# delete the last coumn from the given 4*4 matrix

In [19]:
arr = [[1, 2, 3, 4], 
       [4, 5, 6, 7], 
       [8, 9, 10, 11], 
       [12, 13, 14, 15]]
b = np.delete(arr, -1, axis = 1)
b

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 8,  9, 10],
       [12, 13, 14]])

# Get the list of value of dict in sorted way

In [20]:
dict = {'c': 97, 'a': 96, 'b': 98}
dict1 = sorted(dict.items())
dict1

[('a', 96), ('b', 98), ('c', 97)]

In [21]:
# Sorted by values
dict2 = sorted(dict.items(), key = lambda x:x[1])
dict2

[('a', 96), ('c', 97), ('b', 98)]

In [23]:
# Sorted by keys
dict4 = sorted(dict.items())
print(dict4)

[('a', 96), ('b', 98), ('c', 97)]

# Creating a Dictionary with Integer Keys and print it

In [24]:
dict_int = {1:"ab", 2:"bc", 3:"de"}
dict_int

{1: 'ab', 2: 'bc', 3: 'de'}

# Creating a Dictionary with Mixed keys

In [25]:
dict_mix = {1:"ab", "Name":"bc", 3.0:"de"}
dict_mix

{1: 'ab', 'Name': 'bc', 3.0: 'de'}

# Create an empty dictionary

In [26]:
# Create an empty dictionary
empty_dic = {}
empty_dic

{}

# Creating a Dictionary with dict() method

In [ ]:
emptyDict = dict()
print(emptyDict)

# Creating a Dictionary with each item as a Pair

In [ ]:
mydict = {"apple":12, "banana": 24, "orange": 20, "paron": "Green"}
mydict

# Creating a Nested Dictionary as shown in the below image {1: 'python', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Python', 'D': 'class'}}

In [ ]:
nested_dic = {1:"python",
             2:"For",
             3: {"A":"Welcome", "B":"To", "C":"Python", "D":"Class"}}
nested_dic

# Add a Nested Key value to nested dictionary Dictionary

In [ ]:
nested_dic["E"] = "Integrify"
nested_dic

In [ ]:
nested_dic[3]["E"] = "Integrify"
nested_dic

# create a dictionary with id:num and value: square for range (0,6) using dict comprehension

In [ ]:
new_dict_comp = {num:num**2 for num in range(0,6)}

print(new_dict_comp)

# create a dictionary using dict comprehension to get the odd square only

In [ ]:
odd_dict_comp = {num:num**2 for num in range(0,6) if num%2!=0}

print(odd_dict_comp)

# from a given dict {1: 'a', 2: 'b', 3: 'c'} change the key into item and viceversa

In [54]:
# Change the value of a dictionary

dict1["first"] = 1
dict1["2nd"] = 2
dict1["3rd"] = 3
print(dict1)

{'first': 1, '2nd': 2, '3rd': 3}

In [55]:
dict_given = {1: 'a', 2: 'b', 3: 'c'}
dict_given = {dict_given[j]:j for i,j in enumerate(dict_given)}
print(dict_given)

{'a': 1, 'b': 2, 'c': 3}

# get a hello from the given dict 

d = {'k1':[{'nest_key':['this is deep','hello']}]}

d1 = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,'hello']}]}]}

In [ ]:
d = {'k1':[{'nest_key':['this is deep','hello']}]}
d["k1"][0]["nest_key"][1]

In [ ]:
d1 = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,'hello']}]}]}
d1["k1"][2]["k2"][1]["tough"][2]

# Divisibility Check of user given 2 input of numbers

In [ ]:
num1 = int(input("Enter the first number : "))
num2 = int(input("Enter the 2nd number : "))
if num1%num2==0:
    print(num1, " is divisable by", num2)
elif num2%num1==0:
    print(num2,"is divisible by", num1)
else:
    print("Not divisible")

In [56]:
def divisibility_checker():
    diviser = int(input('Enter the diviser: '))
    divident = int(input('Enter the divident: '))
    if (divident % diviser == 0):
        return True
    else:
        return False
print(divisibility_checker())
print(divisibility_checker())

Enter the diviser: 25
Enter the divident: 5
False
Enter the diviser: 5
Enter the divident: 5
True

# Check if number is even or odd

In [ ]:
odd_even= lambda x: "even" if x%2==0 else "Odd"
print(odd_even(5))

# Check whether Entered character is Vowel or not

In [ ]:
char = input("Please enter a character : ")
vowel = "aeiou"
if char in vowel:
    print("vowel")
else:
    print("Not vowel")

# calculate Sum of n positive Integer example: Sum of n positive Integer till 2 is 3

In [58]:
# find Sum of positive integer numbers
total = 0

for value in range(1, 20):
    total = total + value

print("The Sum of 20 positive integers from 1 to 20 = {} ".format(total))

The Sum of 20 positive integers from 1 to 20 = 190

In [27]:
def calculating_sum_of_n_numbers():
    n = int(input('Enter the n: '))
    sum_of_n = sum([(x) for x in range (n+1)])
    print(f"Sum of the n numbers is: {sum_of_n}")
calculating_sum_of_n_numbers()

Enter the n: 5
Sum of the n numbers is: 15

# calculate the Digit Sum of a number (eg: 123 print 1+2+3=6)

In [28]:
def sum_digits(n):
    sum = 0
    while n:
        last_digit = n % 10
        sum = sum + last_digit
        n = n// 10
    return sum
print(sum_digits(123))
print(sum_digits(12345))

6
15

# Count Numbers, Alphabets, and Special Character from user input string

In [29]:
string = input(" Write something that you like to do : ")

alphabets = digits = special = 0

for i in range(len(string)):
    if(string[i].isalpha()):
        alphabets = alphabets + 1
    elif(string[i].isdigit()):
        digits = digits + 1
    else:
        special = special + 1
        
print("\nTotal Number of Alphabets in this String :  ", alphabets)
print("Total Number of Digits in this String :  ", digits)
print("Total Number of Special Characters in this String :  ", special)

 Write something that you like to do : i am mamun

Total Number of Alphabets in this String :   8
Total Number of Digits in this String :   0
Total Number of Special Characters in this String :   2

# Construct the given pattern
```
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
* 
````

In [ ]:
print("*")
print("* *")
print("* * *")
print("* * * *")
print("* * * * *")
print("* * * *")
print("* * *")
print("* *")
print("*")

In [64]:
[print('* '*x) for x in range(6)]
[print('* ' * (6-x)) for x in range(6)]

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

[None, None, None, None, None, None]

# Count number of characters in a string
eg : {'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [30]:
sentence = "I am learning machine learning and data science with Integrify"

count={}
for i in sentence:
    if i in count:
        count[i]+=1
    else:
        count[i]=1
print(count)

{'I': 2, ' ': 9, 'a': 7, 'm': 2, 'l': 2, 'e': 6, 'r': 3, 'n': 8, 'i': 6, 'g': 3, 'c': 3, 'h': 2, 'd': 2, 't': 3, 's': 1, 'w': 1, 'f': 1, 'y': 1}

# write a program to compute 5/0 using try except

In [31]:

try:
    div = 5/0
    print(div)
except:
    print(" number is not divisible by zero")

 number is not divisible by zero

# Handle the exception thrown by the code below by using try and except blocks.

li=["hello","class"]

for i in li:
    
    print (i**2)

In [32]:
try:
    li=["hello","class"]
    
    for i in li:
        print (i**2)
except:
    print("'hello class' is string  which cannot be powered")

'hello class' is string  which cannot be powered

# Write a function that asks for an integer and prints the square of it. Use a while loop with a try,except, else block to account for incorrect inputs.

 example: Input an integer: null
An error occurred! Please try again!
Input an integer: 2
Thank you, you number squared is: 4

In [35]:
def check_int():
    n = int(input("Please enter an integer : "))
    print("Sqaure of the integer is ", n**2)
    
    while True:
        try:
            n1 = int(input("Please enter an integer: "))
            break
        except ValueError:
            print("No valid integer! Please try again ...")
            
    print("Great, you successfully entered an integer!")
check_int()

Please enter an integer : 6
Sqaure of the integer is  36
Please enter an integer: 5
Great, you successfully entered an integer!

# Accept the String and print the words composed of digits only

In [37]:
strings = "this is hell021, this is hell021, this is hell021"

res = []
temp = strings.split()
for idx in temp:
    if any(chr.isalpha() for chr in idx) and any(chr.isdigit() for chr in idx):
        res.append(idx)
print(res)

['hell021,', 'hell021,', 'hell021']

# find the parity outlier from the given sequence use list comprehension seq=1,2,3,5,7

In [39]:
def find_outlier(li):
    evens = []
    odds = []
    for i in li:
        if i % 2 > 0:
            odds.append(i)
        if i % 2 == 0:
            evens.append(i)
    print("Evens: ", evens)
    print("Odds: ", odds)
    
    if len(evens) > len(odds):
        return odds[0]
    else:
        return evens[0]

print("Outlier:", find_outlier([1, 2, 3, 5, 7]))

Evens:  [2]
Odds:  [1, 3, 5, 7]
Outlier: 2

# Get the complement where T--->A, A-->T, C--->G, G--->C for the given DNA dna ="ATTGC"

In [40]:
complement = {'A': 'T', 'C': 'G', 'G': 'C', 'T': 'A'}
dna = "ATTGC"
reverse_complement = "".join(complement.get(base) for base in reversed(dna))
print(reverse_complement)

GCAAT

In [41]:
def getting_compliment(dna):
    return_list = []
    for i in dna:
        if i == 'A':
            return_list.append('T')
        elif i == 'T':
            return_list.append('A')
        elif i == 'C':
            return_list.append('G')
        elif i == 'G':
            return_list.append('C')
    return return_list
print(getting_compliment('ATTCG'))

['T', 'A', 'A', 'G', 'C']

# Write a program that inputs a number from the user and displays the factorial of that number using while loop.

In [43]:
num = int(input("enter a number: "))
 
fac = 1
i = 1
 
while i <= num:
    fac = fac * i
    i = i + 1
 
print("factorial of ", num, " is ", fac)

enter a number: 5
factorial of  5  is  120

# Ask the user for a number,to pick the color from the list print the color.
color= Blue, Green, Orange, Red

In [44]:
color= ["Blue", "Green", "Orange", "Red"]
def choose_color():

    rightGuess = 0 ##set an opening condition that you will be able to change once the user gets the right answer

    while rightGuess == 0: ##start the while loop

        guess = input("What is your favorite color? ")

        if guess in color:

            print ("That’s my favorite color too!")

            rightGuess = rightGuess + 1 ##(this changes the counter and therefore the condition in which the loop will run)

        else:

            print("Oh. I guess we’re not soul mates after all.")

    print("Goodbye!")
    
choose_color()

What is your favorite color? 5
Oh. I guess we’re not soul mates after all.
What is your favorite color? 5
Oh. I guess we’re not soul mates after all.
What is your favorite color? Blue
That’s my favorite color too!
Goodbye!

#  Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.

In [47]:
value = input("Enter value as a : ")

n1 = value * 1
n2 = value * 2
n3 = value * 3
n4 = value * 4

total = int(n1) + int(n2) + int(n3) + int(n4)
print(total)

Enter value as a : 5
6170

In [46]:
# Any number of times 
digit=int(input("Enter digit:"))
num=input("enter a number:")
 
 
result=0
for i in range(1,digit+1):
  result= result + int(str(num*i))
  print(num*i)
 
print("________________+\n")
print(result)

Enter digit:6
enter a number:6
6
66
666
6666
66666
666666
________________+

740736

# write a program that lets user to input the value seperate by "," and create a list from it using list comprehension

In [ ]:
# For numbers list
num_list = [int(num) for num in input("Enter the list items separated by comma ").strip().split(",")]

print("User list: ", num_list)

In [ ]:
# For string list
string_list = [str(i) for i in input("Enter the list items separated by comma ").strip().split(",")]

print("User list: ", string_list)

# Write a program that calculates and prints the value according to the given formula:

```
Q = Square root of (2 C D)/H
given,
c=50
h=30
D is the variable whose values should be input to your program in a comma-separated sequence.
Example 100,150,180
The output : 18,22,24```

In [ ]:
import math

numbers = input("Input the value of D: ")
numbers = numbers.split(',')

result_list = []
for D in numbers:
    Q = round(math.sqrt(2 * 50 * int(D) / 30))
    result_list.append(Q)

print(result_list)

# Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.

In [ ]:
words = input("Type in: ")
words_splited = words.split(' ')

word_list = []
for i in words_splited:
    if i not in word_list:
        word_list.append(i)
    else:
        continue
word_list.sort()
print((' ').join(word_list))

# Write a program which accepts a sequence of comma separated 4 digit binary numbers and then check whether they are divisible by 5 or not. print the number
Example: 0100,0011,1010,1001 Then the output should be: 1010

In [48]:
items = []
num = [x for x in input().split(',')]
for p in num:
    x = int(p, 2)
    if not x%5:
        items.append(p)
print(','.join(items))

0100,0010

In [49]:
def is_divisible_5(str_list, n=5):
    '''Given a list of binary strings, this function outputs the string which is divisible by n
        Input : str_list : A list of strings with binary values
            n(Optional) : A number whose divisibility to check with
        Output : Binary String which is divisible by n
    '''
    return([i for i in str_list if int(i,2)%n==0])
        
        
s = ['0100','0011','1010','1001']

print(f"Which is divisible by 5 among {s}:", is_divisible_5(s))

Which is divisible by 5 among ['0100', '0011', '1010', '1001']: ['1010']

# By using list comprehension, please write a program to print the list after removing the even index numbers
li=range(10)

In [54]:
li = range(10)
odd_num = [li[x] for x in li if x%2!=0]
print(odd_num)

[1, 3, 5, 7, 9]

In [55]:
li = range(10) ## user defined
[li[x] for x in range(len(li)) if x%2!=0]

[1, 3, 5, 7, 9]

# write a function to get the sum of two num(use lambda)

In [ ]:
a = lambda x,y: x+y 
a(4,5)

# write a function to print if leap year or not

In [ ]:
# User enters the year
year = int(input("Enter Year: "))

# Leap Year Check
if year % 4 == 0 and year % 100 != 0:
    print(year, "is a Leap Year")
elif year % 100 == 0:
    print(year, "is not a Leap Year")
elif year % 400 ==0:
    print(year, "is a Leap Year")
else:
    print(year, "is not a Leap Year")

# write a function to count a bit(number of 1) in number (use lambda)

In [ ]:
b = lambda x: bin(x)
b(10)

# Write a program to get the area of a circle from the radius (use lambda

In [ ]:
circle_area = lambda x:round(math.pi*x**2,2)
circle_area(5)

# write a function to get the factorial of given number use recurssion

In [62]:
def factorial(n):
    if n == 1:
        return n
    else:
        return n*factorial(n-1)
factorial(6)

720

# write a program to remove a duplicate word in a list or user input sentences.

In [68]:
def Remove(duplicate):
    final_list = []
    for num in duplicate:
        if num not in final_list:
            final_list.append(num)
    return final_list

duplicate = ["apple", "orange", "banana", "apple", "orange","kiwi"]
Remove(duplicate)

['apple', 'orange', 'banana', 'kiwi']

In [70]:
s = "Python is usefull for data analysis"
l = s.split()
k = []
for i in l:
    if (s.count(i)>1 and (i not in k)or s.count(i)==1):
        k.append(i)
print(' '.join(k))

Python is usefull for data analysis

# calculate fibonacci
what is fibonacci? Its a cumulative sum of numbers.

In [ ]:
# Calculate fibonacci numbers total with recursion function
def fib(n):
    if n <=1:
        return n
    else:
        return (fib(n-1) + fib(n-2))
print("Tota----->", fib(9))
    
# Change this value to adjust the number of terms in the sequence.
number_of_terms = 10
for i in range(number_of_terms):
    print(fib(i))

# write a function to get the premutation and combination

In [ ]:
#  Calculate Permutation
def permutation(lst):
    # If lst is empty then there are no permutations
    if len(lst) == 0:
        return []
  
    # If there is only one element in lst then, only
    # one permuatation is possible
    if len(lst) == 1:
        return [lst]
  
    # Find the permutations for lst if there are
    # more than 1 characters
    l = []
    for i in range(len(lst)):
        m = lst[i]
        # Remaining list
        rem_list = lst[:i] + lst[i+1:]
        # Generating all permutations where m is first element
        for p in permutation(rem_list):
            l.append([m] + p)
    return l
data = list("123")
for p in permutation(data):
    print(p)

In [ ]:
# Calculate combination
def combination(lst, n):
      
    if n == 0:
        return [[]]
      
    l =[]
    for i in range(0, len(lst)):
          
        m = lst[i]
        remLst = lst[i + 1:]
          
        for p in combination(remLst, n-1):
            l.append([m]+p)
              
    return l
  
# Driver code
arr ="abc"
print(combination([x for x in arr], 2))

# write a function to draw a diamond shape from a user given number: hint: only odd number can draw a diamond shape

In [ ]:
n = int(input("Enter a valid number : "))
def diamond():
    
    main = ''
    
    if n%2 == 0:
        return None
    if n<0:
        return None
    else:
        for i in range(1,n+1):
            string = ''
            space = abs(i - int((n+1)/2))
            star = n - 2 * space
            string = space * ' ' + star * '*' + '\n'
            main += string
        return main
print(diamond())

# build a simple calculator which can: add subtract multiply divide

In [ ]:
def add(a,b):
    return a+b
def subtract(a,b):
    return a-b
def multiply(a,b):
    return a*b
def divide(a,b):
    return a/b

In [ ]:
print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # Take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # Check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        break
    else:
        print("Invalid Input")

# define a function which can print a given string in a circular rotation

In [63]:
def rotation():
    a = "mamun"
    b = len(a)
    for i in range (b):
        c = a[i:]+a[:i]
        print(c)
rotation()

mamun
amunm
munma
unmam
nmamu

In [75]:
rotating_strings = lambda x, n: x[n:] + x[:n]
rotating_strings("abc",3)

'abc'

# write a function to calculate the GCD of 2 number

In [79]:
# Define gcd function by taking two numbers as input
def gcd(a,b):
    if(b==0):
        return a
    else:
        return gcd(b,a%b)
    
#a=int(input("Enter first number:"))

#b=int(input("Enter second number:"))

#GCD=gcd(a,b)

print("GCD is: ", gcd(5,40))

GCD is:  5

# Write a Python function to check whether a string is pangram or not.

In [80]:
# option 1
def is_panagram(sentence):
    
    alphabet='abcdef' # define a alp with all alphabets(alp)
   
    for letter in alphabet:             # checking every letter is present in alphabet.
        
        if alphabet in sentence.lower(): # string.lower to avoid case difference
            return True           # return only if all alphabet is present in sentence
        else:
            return False 
is_panagram("monekey is very intelligent animal")

False

In [81]:
# Option 2
def is_pangram(str):
   alphabet = "abcdefghi"
   for char in alphabet:
        if char not in str.lower():
            return False
        return True

string = 'Money jumping on bed.'

is_pangram(string)

False

# write a function which take a list of number and target where target is number . print the index from the list where the sum of the index value is equal to that of the target

In [85]:
lst = [1, 4, 5, 7, 9, 6, 2]
lst2=[]
target = int(input("Enter the number: "))
value = [(x,y) for x in lst for y in lst if x+y == target]
print(value)

Enter the number: 3
[(1, 2), (2, 1)]

In [86]:
def tar_prog(li, target):
    '''This function returns the list items (tuples containing index numbers) 
        whose sum is equal to the target
    '''
    return([(li[i],li[j]) for i in range(len(li)) for j in range(i, len(li)) if li[i]+li[j]==target])

print("Index number which has the sum equal to 25 from all numbers in range 15 are :", tar_prog(range(15), 25))

Index number which has the sum equal to 25 from all numbers in range 15 are : [(11, 14), (12, 13)]

# write a function to calculate the LCM of a 2 number lcm of 54 and 42 is 378

In [ ]:
# Find the L.C.M. of 54 and 42 is 216

def compute_lcm(x, y):

   # choose the greater number
   if x > y:
       greater = x
   else:
       greater = y

   while(True):
       if((greater % x == 0) and (greater % y == 0)):
           lcm = greater
           break
       greater += 1

   return lcm

num1 = 42
num2 = 54

print("The L.C.M. is", compute_lcm(num1, num2))

# write a function that gives the prime factor only

In [92]:
def prime_factors(n):
    i = 2
    factors = []
    while i * i <= n:
        if n % i:
            i += 1
        else:
            n //= i
            factors.append(i)
    if n > 1:
        factors.append(n)
    return factors

In [93]:
prime_factors(50)

[2, 5, 5]

In [94]:
def prime_fact(n):
    '''Given a number n, this function returns the prime factors of that number
    '''
    i = 2
    factors = []
    while i <= n:
        if n % i==0:
            factors.append(i)
            n = n//i
        else:
            i+=1
    return set(factors)
prime_fact(50)

{2, 5}

# write a function that print the first non repeating letter

In [ ]:
def first_non_repeating_character(str1):
  char_order = []
  cstr = {}
  for c in str1:
    if c in cstr:
      cstr[c] += 1
    else:
      cstr[c] = 1 
      char_order.append(c)
  for c in char_order:
    if cstr[c] == 1:
      return c
  return None

print(first_non_repeating_character('abcdef'))
print(first_non_repeating_character('abcabcdef'))
print(first_non_repeating_character('aabbcc'))

# return sum of array excluding the lowest and highest element

In [ ]:
# Using lambda function

sum_array = lambda arr: sum(sorted(arr)[1:-1]) if isinstance(arr, list) else 0

sum_array([3, 8, 1, 7, 12, 5, 9])

In [98]:
def digit_subtitution(string):
    return ''.join([x in '01234' and '0' or x in '6789' and '1' or x for x in string])
print(digit_subtitution('born 25-05-1997 at 18:53'))

born 05-05-0111 at 01:50

# define a function take a string value replace any number below 5 with 0 and any number above 5 with 1

In [97]:
def fun(num):
    if num < 5:
        return 0
    if num > 5:
        return 1
fun(6)

1

# write a function to get a day of week eg: (30,8,2010)=1

In [99]:
# Python program to Find day of the week for a given date
import datetime
import calendar

def findDay(date):
    born = datetime.datetime.strptime(date, '%d %m %Y').weekday()
    return (calendar.day_name[born])

date = '30 08 2010'
# If integer value ranges in week like that : 0-6, sunday-saturday.
print(findDay(date))

Monday

In [100]:
# Use zellers formula
floor = lambda x,y: x//y-1 if x%y!=0 else x//y
ceil = lambda x,y: x//y+1 if x%y!=0 else x//y

def day_of_week(day, month, year):
    return((day + ceil(13*(month-2),5) + year + floor(year,4) - floor(year,100) + floor(year,400))%7)
    
print("Day of Week given 30/08/2010 is : ",day_of_week(30,8,2010))

Day of Week given 30/08/2010 is :  1

# write a function to get all the permutation of the string

In [101]:
def permutations(string, step = 0):

    # if we've gotten to the end, print the permutation
    if step == len(string):
        print("".join(string))

    # everything to the right of step has not been swapped yet
    for i in range(step, len(string)):

        # copy the string (store as array)
        string_copy = [character for character in string]

        # swap the current index with the step
        string_copy[step], string_copy[i] = string_copy[i], string_copy[step]

        # recurse on the portion of the string that has not been swapped yet (now it's index will begin with step + 1)
        permutations(string_copy, step + 1)
permutations("abc")

abc
acb
bac
bca
cba
cab

In [104]:
# dipro solution
def change_to_string(list1):
    return "".join(list1)

def permute(list_value,first_index,last_index):
    if first_index==last_index:
        print (change_to_string(list_value))
    else:
        for i in range(first_index,last_index+1):
            a[first_index],a[i]=a[i],a[first_index]
            permute(list_value,first_index+1,last_index)
            a[first_index],a[i]=a[i],a[first_index]

string1=input("Enter a string value")
n=len(string1)
a=list(string1)
permute(a,0,n-1)

Enter a string valueabc
abc
acb
bac
bca
cba
cab

# write a function to get all the possible subset of a string in a list

In [103]:
def list_string(str):
  level = [x+y for x in str for y in str if len(str) > 1]
  return level
list_string("def")

['dd', 'de', 'df', 'ed', 'ee', 'ef', 'fd', 'fe', 'ff']

In [105]:
# Dipro
def all_subsets(list_items):
    '''Given a string or list this function returns all possible subsets of the string or list
    '''
    subsets = [[]]
    
    for i in list_items:
        items = subsets[:]

        for j in range(len(subsets)):
            subsets[j] = subsets[j] + [i]
        subsets = items + subsets
   
    return subsets

print("The subsets of 'abcd' are,", *all_subsets('abcd'))

The subsets of 'abcd' are, [] ['a'] ['b'] ['a', 'b'] ['c'] ['a', 'c'] ['b', 'c'] ['a', 'b', 'c'] ['d'] ['a', 'd'] ['b', 'd'] ['a', 'b', 'd'] ['c', 'd'] ['a', 'c', 'd'] ['b', 'c', 'd'] ['a', 'b', 'c', 'd']

# write a function to get the length of the last word only from a string seperated by space ex:('string of words') == 5 ex:('adasd ')=5

In [106]:
# find length of last word


def length(str):
# Split by space and converting string to list
    lis = list(str.split(" "))
    return len(lis[-1])


str = "life is battle"
print("The length of last word  'battle' is", length(str))

The length of last word  'battle' is 6

# write a program for a tower of hanoi puzzle
Tower of Hanoi is a mathematical puzzle where we have three rods and n disks. The objective of the puzzle is to move the entire stack to another rod, obeying the following simple rules: 
- 1) Only one disk can be moved at a time. 
- 2) Each move consists of taking the upper disk from one of the stacks and placing it on top of another stack i.e. a disk can only be moved if it is the uppermost disk on a stack. 
- 3) No disk may be placed on top of a smaller disk.

Note: Transferring the top n-1 disks from source rod to Auxiliary rod can again be thought of as a fresh problem and can be solved in the same manner.

In [ ]:
# Recursive Python function to solve the tower of hanoi

def TowerOfHanoi(n , source, destination, auxiliary):
    if n==1:
        print("Move disk 1 from source",source,"to destination",destination)
        return
    TowerOfHanoi(n-1, source, auxiliary, destination)
    print("Move disk",n,"from source",source,"to destination",destination)
    
    TowerOfHanoi(n-1, auxiliary, destination, source)

# Number of disk
n = 4
TowerOfHanoi(n,'A','B','C')
# A, C, B are the name of rods

# Use a for loop to estimate π from the first 20 terms of the Madhava series:
\begin{equation}\pi=\sqrt{12}\left(1-\frac{1}{3 \cdot 3}+\frac{1}{5 \cdot 3^{2}}-\frac{1}{7 \cdot 3^{3}}+\cdots\right)\end{equation}

In [ ]:
import math
pi = 0
for k in range(20):
    pi += pow(-3, -k) / (2*k+1)
    
pi *= math.sqrt(12)
print('pi = ', pi)

pi =  3.1415926535714
print('error = ', abs(pi - math.pi))

# write a function to check if the number is harshad or not
A Harshad number is an integer that is divisible by the sum of its digits (for example, 21 is divisible by 2+1=3 and so is a Harshad number).

In [107]:
def harshad(num):
    # Stor num in a temporary variable
    temp = num
    # Store the added digit in sum variable
    sum = 0 # initial value
    while temp > 0:
        sum = sum +temp % 10
        temp = temp // 10
        return num % sum ==0
harshad(12)
# If results true it means the number is harshad and if false then not.

True

# write a function select_word(): to get a random word from a list of words
use module random and call random.randint() to chose random

In [113]:
import random

def select_word(words):
    selection = None
    count = 0
    for word in words:
        if random.randint(0, count) == 0:
            selection = word.strip()
        count = count + 1
    return selection

print(select_word(["python", "is", "awesome"]))

is

# write a function blank(word): where it should print _ after first letter to the range of length of word
i.e apple= a _ _ _ _

In [114]:
def blank(word):
    w = 'apple'
    b_word = w[0]+(len(w)-1)*" _ "
    print(b_word)
blank('word')

a _  _  _  _

# compete the code below (skipped becz not able to do)

# write a map function which calculate the list multiple of 5: eg: x == [ 2, 3, 4, 5, 6] y == [10, 15, 20, 25, 30]

In [130]:
multiple_of_5 = list(map(lambda x : x*5, [2,3,4,5,6]))
multiple_of_5

[10, 15, 20, 25, 30]

# write a map function which multiply the odd values by 5 and add them to the list

In [131]:
a= list(map(lambda x: x%2!=0 and x*5, range(10)))
print(sorted(a[::-2]))

[5, 15, 25, 35, 45]

#  write a map function to get: x=[2,3,4] y=[4,5] ans: z=[[6,7],[7,8],[8,9]]

In [132]:
get_sum = lambda x : [x+i for i in y]
y = [4,5]
z = list(map(get_sum, [2,3,4]))
print("The z list : ", z)

The z list :  [[6, 7], [7, 8], [8, 9]]

# write a function to convert a z list to 1d list : use reduce

In [133]:
from functools import reduce

one_d_list = list(reduce(lambda x,y:x+y, z))
one_d_list

[6, 7, 7, 8, 8, 9]

# write a function to convert a z list to 1d list : use reduce

In [134]:
from functools import reduce

one_d_list = list(reduce(lambda x,y:x+y, z))
one_d_list

[6, 7, 7, 8, 8, 9]

# write a function using a type annotations which take a two vector a and b which calculate the vector sum eg: [1,2,3]+[4,5,6]=[5,7,9]

In [135]:
from typing import List
Vector = List[float]
def add(a: Vector, b: Vector) -> Vector:
    return [a + b for a, b in zip(a,b)]

# typechecks; a list of floats qualifies as a Vector.
new_vector = add([1,2,3],[4,5,6])
new_vector

[5, 7, 9]

# Write a function which using a type annotation to calculate te dot product of two vector. eg: [1,2,3]+[4,5,6]=32

In [129]:
v1 = [1,2,3]
v2 = [4,5,6]
def dot_product(v1 : Vector, v2 : Vector)->Vector:
    return (sum([x*y for x,y in zip(v1,v2)]))

dot_product([1,2,3], [4,5,6])

TypeError: 'int' object is not callable

# write a function to calculate the sum of vector which take a list of vector using type annotation eg:[1,2],[3,4],[5,6]=[9,12]

In [128]:
# Pasha
from typing import List, Union
Vector = List[Union[int, float]]

def sum_vector_list(li: List[Vector]) -> Vector:
    def sum_2_vectors(a: Vector, b: Vector) -> Vector:
        return [a[i] + b[i] for i in range(len(a))]
    return reduce(sum_2_vectors, li)

print(sum_vector_list([[1,2], [3,4], [5,6]]))

[9, 12]

# write a function to get the shape of a matrix also use type annotation: eg:[[1,2],[2,3]]=(2,2)

In [152]:
from typing import Tuple
def shape( a : Tuple[float])->Tuple:
  row = len(a)
  column = len(a[0])
  print(row, column)
b = shape([[1,2],[2,3]])
b

2 2

TypeError: 'NoneType' object is not iterable

# write a functions to create a matrix and used function to create a 3*3 identity matrix : hint:use a Callable from typing

In [146]:
from typing import Callable
def make_matrix(num_rows: int,
                num_cols: int,
                entry_fn: Callable[[int, int], float]) -> Matrix:

    return [[entry_fn(i,j)            # given i, create a list
            for j in range(num_cols)] # [entry_fn(i, 0), ...]
            for i in range(num_rows)] # create one list for each i

def identity_matrix(n: int) -> Matrix:
    """Returns the n x n identity matrix"""
    return make_matrix(n, n, lambda i, j: 1 if i == j else 0)
identity_matrix(3)

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

# follow the link https://www.willamette.edu/~gorr/classes/cs449/reber.html and try to generate a embedded reber grammar as shown in fig 2. HINT: -first create a list of list of tuple of reber_ grammar

the node and edges are:

B=1,T=2, P=3, S=2,X=4,T=3,V=5,X=3,S=6,P=4,V=6,E=None

create a list of tuple of (edge,Node)

eg:[[("B",1)], [(),()]]

after that crete a list as shown in graph in figure 2

---skipped---

# write a function to generate a password :
- password should have a number,special_char,alphabet(both capital and small)
- allow user to input the length of password

In [ ]:
import string, random
string.printable

def password_generator(num):
  password = ""
  for i in range(num):
    x = random.randint(0, 94)
    password+=string.printable[x]
  return password
# Set any length of password , here did with 10
print(password_generator(10))

# write a function to get the integers satisfying a2+b2=c2 called Pythagorean numbers.
the function take a input from a user with a maximal number: eg: if user give: 5 it should print (3,4) similarly:10 3 ,4 6,8

In [ ]:
def pithagoren_num(n):
  if n>0:
    for i in range(1, n-1):
      for j in range(i+1, n):
        for k in range(j+1, n+1):
          if i*i + j*j == k*k:
            print(i,j,k)
            
  else:
    print("wrong number!")
m = int(input("please enter the integer number : "))

print(pithagoren_num(m))

In [155]:
pyth_nos = lambda z : [(y,x) for x in range(z) for y in range(x) if x**2+y**2==z**2]
print("The pythagorian numbers giving 5 and 10 are :\n", list(map(pyth_nos, [5,10])))

The pythagorian numbers giving 5 and 10 are :
 [[(3, 4)], [(6, 8)]]

# write a program to guess a random number between range 1 to n

- hint use random.randit() to generate a random number
- the program should have upper bound and lower bound eg(1-30)
- if user give 0 should exit the program
- if the guess is less thean lower or grater than upper ("not in boundary)

In [84]:
import random
random_number = random.randint(1,10)
boundary_upper = random_number + 2
boundary_lower = random_number - 2
while(1):
    guess = int(input('Enter your guess: '))
    if (guess== 0):
        print('You entered 0, Programm Terminated')
        break
        
    elif (boundary_lower<= guess <= boundary_upper):
        print('Your Guess is in the boundary!')
        break
    else:
        print('Not in Boundary. Try Again!')

Enter your guess: 5
Your Guess is in the boundary!

In [156]:
import random
lb=int(input("Choose lower bound: "))
ub=int(input("Choose upper bound: "))
r=random.randint(lb, ub)
print("\nYou have 5 chances to guess the integer!")
count=0
while count<5:
    count +=1
    guess=int(input("\nTake your guess: "))
    if r==guess:
        if count == 1:
            print(f"\nWow!! You guessed it in {count} try! Amazing!")
        else:
            print(f"\nYou guessed it in {count} tries!")
        break
    if guess==0:
        print("\nNever guess 0! This is the end of your game!")
        break
    if guess<lb:
        print("Outside set boundaries! Try a higher number!")
    if guess>ub:
        print("Outside set boundaries! Try a lower number!")
    if guess > r:
        print("Not quite... Try something lower.")
    if guess < r:
        print("Not quite... Try something higher.")
if count>= 5:
    print(f"Too bad - the number was {r}")

Choose lower bound: 1
Choose upper bound: 10

You have 5 chances to guess the integer!

Take your guess: 5
Not quite... Try something lower.

Take your guess: 5
Not quite... Try something lower.

Take your guess: 5
Not quite... Try something lower.

Take your guess: 5
Not quite... Try something lower.

Take your guess: 2
Not quite... Try something higher.
Too bad - the number was 3

# Write a function which takes a text and encrypts it with a Caesar cipher as well as decrypt.(https://en.wikipedia.org/wiki/Caesar_cipher) .

- input:"hello",
- output: encrypt:EBIIL
- decyprt: HELLO

In [85]:
import string, random
def encrypted_output(word):
    a = (string.printable[10:36])
    word_new = ''
    for i in word:
        word_new = word_new + a[a.find(i)-3]
    return (word_new)

def decrypted_output(word):
    a = (string.printable[10:36])
    word_new = ''
    for i in word:
        word_new = word_new + a[a.find(i)+3]
    return (word_new)
encrypted_output = encrypted_output('hello')
decrypted_output = decrypted_output(encrypted_output)
print(encrypted_output)
print(decrypted_output)

ebiil
hello

# write a function which take a text and dictionary to decrypt or encrypt the text with a permutated alphabet hint:

alphabet=strings.ascii_letters
permuted=(from random use sample on alphabet and its length)
create a variable :
encrypt which is a dic of (alphabet and permuted)
decrypt which is a dic(permuted and alphabet)

# Write a function which translates a text to morse code- (https://www.alamy.com/international-morse-code-letters-template-for-your-design-image271353887.html)

Write another function  which translates a string in Morse code into a "normal“ string.

- hint
- create a dic of letter and its morse code:

`eg:{'A':'.-', 'B':'-...', 'C':'-.-.', 'D':'-..', 
      'E':'.', 'F':'..-.', 'G':'--.','H':'....', }`

In [86]:
def morse_code_generator(text):
    generated_code = ''
    morse_code_dict = { 'A':'.-', 'B':'-...',
                    'C':'-.-.', 'D':'-..', 'E':'.',
                    'F':'..-.', 'G':'--.', 'H':'....',
                    'I':'..', 'J':'.---', 'K':'-.-',
                    'L':'.-..', 'M':'--', 'N':'-.',
                    'O':'---', 'P':'.--.', 'Q':'--.-',
                    'R':'.-.', 'S':'...', 'T':'-',
                    'U':'..-', 'V':'...-', 'W':'.--',
                    'X':'-..-', 'Y':'-.--', 'Z':'--..',
                    '1':'.----', '2':'..---', '3':'...--',
                    '4':'....-', '5':'.....', '6':'-....',
                    '7':'--...', '8':'---..', '9':'----.',
                    '0':'-----', ', ':'--..--', '.':'.-.-.-',
                    '?':'..--..', '/':'-..-.', '-':'-....-',
                    '(':'-.--.', ')':'-.--.-'} 
    for i in text:
        generated_code = generated_code + ' ' + morse_code_dict[i.upper()]
    return generated_code
morse_code_generator('abc')

' .- -... -.-.'

# Write a program to calculate the square root of a number by using the Babylonian method.(https://en.wikipedia.org/wiki/Methods_of_computing_square_roots)

In [158]:
def BabylonianAlgorithm(number):
    if(number == 0):
        return 0;

    g = number/2.0;
    g2 = g + 1;
    while(g != g2):
        n = number/ g;
        g2 = g;
        g = (g + n)/2;

    return g;

print('The Square root of 0.3 =', BabylonianAlgorithm(2))

The Square root of 0.3 = 1.414213562373095

# Write a function which take a string , a substring to look for and number of time it occur in a string.calculates the position of the n-th occurence of a string sub in another string s. If sub doesn't occur in s, -1 shall be returned.
eg:
```
s = "hello this a new call hello class"
print(find_nth_occurance(s,"hello", 2))
```

In [88]:
def find_nth_occurance(string,sub_string):
    count = string.count(sub_string)
    if (count == 0):
        return -1
    else:
        return count
        
string = "hello this a new call hello class"
sub_string = "helo"
print(f"sub string occured in the string for : {find_nth_occurance(string,sub_string)} many times")

sub string occured in the string for : -1 many times

# write a recursive function for f(n) = 7 * n, i.e. the multiples of 7

In [159]:
# sushree sol
def recurcive(n):
    if n==1:
        return 7
    else:
        return recurcive(n-1)+7
    
number =int(input("Enter the number : "))
for i in range(1,number+1):
    print(recurcive(i))

Enter the number : 7
7
14
21
28
35
42
49

# Write a function which implements the Pascal's triangle use recursion:(https://www.mathsisfun.com/pascals-triangle.html#:~:text=One%20of%20the%20most%20interesting,directly%20above%20it%20added%20together.)

In [160]:
def triangle(n):
    if n == 0:
        return []
    elif n == 1:
        return [[1]]
    else:
        new_row = [1]
        result = triangle(n-1)
        last_row = result[-1]
        for i in range(len(last_row)-1):
            new_row.append(last_row[i] + last_row[i+1])
        new_row += [1]
        result.append(new_row)
    return result
triangle(5)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

# Write a recursive program to calculate the Fibonacci numbers, using Pascal's triangle.

In [162]:
def triangle(n):
    if n == 0:
        return []
    elif n == 1:
        return [[1]]
    else:
        new_row = [1]
        result = triangle(n-1)
        last_row = result[-1]
        for i in range(len(last_row)-1):
            new_row.append(last_row[i] + last_row[i+1])
        new_row += [1]
        result.append(new_row)
    return result
a = triangle(5)

def fibonacci_numbers(a):
    number = []
    for i in range(len(a)) :
        number.append(a[i])
    print(number)
fibonacci_numbers(a)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

# write a fuction to check if the given data type are iterable or not ?

In [97]:
def iterable_finder(a):
    
    try:
        x = [x for x in a]
        print('A is iterable')
    except:
        print('not iterable')
iterable_finder([1,1,1])
iterable_finder(1)

A is iterable
not iterable

# Write a generator  which computes the running average.
```
    eg:[1,2,3,4,5,6]
        1-->1
        2---->1.50
        3----->2
        4----->2.50
        5---->3
        6---->3.50
 ```

In [98]:
def running_generator(n):
    for i in n:
        list_container = []
        for i in n:
            avg = (i+1)/2
            list_container.append((f"{i} --> {avg}"))
        yield list_container
a = running_generator([1,2,3,4,5,6])
next(a)

['1 --> 1.0', '2 --> 1.5', '3 --> 2.0', '4 --> 2.5', '5 --> 3.0', '6 --> 3.5']

# Write a generator which behaves like range but accepts float values.

In [99]:
def range_generator(upper_limit,lower_limit):
    output_list = [.5*x for x in range(2*lower_limit, 2*upper_limit)]
    yield output_list
a = range_generator(5,1)
next(a)

[1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

# Write a generator which returns  a zero or a one in every iteration. 
- The probability p for returning a 1 is defined in a variable p.
- default value of probability=0.5. In other words,1 and 0 will be returned with the same probability.

In [101]:
def zero_one_return(n):
    container_list=[]
    p = .5
    random_ = random.randint(0,int(n))
    max_range = random.randint(0,int(n/2))
    min_range = random.randint(0,int(n/3))
    
    for i in range(n):
        if p == 0.5: # 1 nad 0's will appear in a same amount
            if i % 2 == 0:
                container_list.append(1)
            else:
                container_list.append(0)
        if p == 0.75: #1's will be more than 0's
            try :
                if random_ <= i <= random_ + max_range:
                    container_list.append(0)
                else:
                    container_list.append(1)
            except:
                if random_ - max_range <= i <= random_:
                    container_list.append(0)
                else:
                    container_list.append(1)
        elif (p == 1):
            container_list.append(1)
        elif (p == 0):
            container_list.append(0)
                        
    yield container_list
    
x = zero_one_return(5)
next(x)

[1, 0, 1, 0, 1]

In [104]:
import random

def random_ones_and_zeros():
    p = 0.5
    while True:
        x = random.random()
        message = yield 1 if x < p else 0
        if message != None:
            p = message
            
x = random_ones_and_zeros()
next(x)

0

In [105]:
import random

def random_ones_and_zeros():
    p = 0.5
    while True:
        x = random.random()
        message = yield 1 if x < p else 0
        if message != None:
            p = message
            
x = random_ones_and_zeros()
next(x)  # we are not interested in the return value

for p in [0.2, 0.8]:
    print("\nWe change the probability to : " + str(p))
    x.send(p)    
    for i in range(10):
        print(next(x), end=" ")
print()

We change the probability to : 0.2
1 0 0 0 0 0 0 0 0 0
We change the probability to : 0.8
1 0 0 1 1 1 1 0 1 1

# Write a generator cycle performing the same task.

- cycle('ABCD') --> A B C D A B C D A B C D ...

In [106]:
def cycle(iterable):
    # cycle('ABCD') --> A B C D A B C D A B C D ...
    saved = []
    for element in iterable:
        yield element
        saved.append(element)
    while saved:
        for element in saved:
              yield element
                
characters = ["ABCD"]
char_iterator = cycle(characters)

for i in range(4):
    print(next(char_iterator))

ABCD
ABCD
ABCD
ABCD

In [107]:
import itertools
list(itertools.repeat('ABCD',5))

['ABCD', 'ABCD', 'ABCD', 'ABCD', 'ABCD']

# create a list of list from the given detail below
```
id   product              Quantity     Price_per
1020 iphone 12          4          1200
2313 mac book pro       5          3200                
1234 drone              3          900
3212 tv                 8          500
3213 book               3          20
````


Write a Python program, which returns a list with 2-tuples. Each tuple consists of a the product name and  the total price of product . The product should be increased by 10,- € if the value of the order is smaller than 100,00 €.
Write a Python program using lambda and map.

In [109]:
list_list = [
    ['id', 'product', 'Quanlity', 'Price_per'],
    [1020, 'iphone 12', 4, 1200],
    [2313, 'mac book pro', 5, 3200],
    [1234, 'drone', 3, 900],
    [3212, 'tv', 8, 500],
    [3213, 'book', 3, 20]
]
list_price = []
tuple_output=()
for i in range(len(list_list)):
    if (i >= 1):
        price = list_list[i][2] * list_list[i][3]
        if price < 100:
            price += 10
        list_ = (list_list[i][1],price)
        list_price.append(list_)
tuple_output = tuple(list_price)
print(tuple_output)

(('iphone 12', 4800), ('mac book pro', 16000), ('drone', 2700), ('tv', 4000), ('book', 70))

In [110]:
list_price = list(map(lambda x : x[2]*x[3] if(type(x[2]) != str) else None,list_list))[1:]
final_price = list(map(lambda x : x+10 if(x<100) else x ,list_price))
final_tuple = tuple([(final_price[x],list_list[x+1][1]) for x in range(len(final_price))])
print(final_tuple)

((4800, 'iphone 12'), (16000, 'mac book pro'), (2700, 'drone'), (4000, 'tv'), (70, 'book'))

# Write a program which returns a list of two tuples with (order number, total amount of order).

- list of tuple:
```
[ordernumber, (article number, quantity, price per unit), ... (article number, quantity, price per unit) ]
```

use : map, reduce and lambda

In [111]:
from functools import reduce
orders = [ [1, ("5464", 4, 10), ("8274",18,15), ("9744", 9, 20)], 
           [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
           [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)],
            [5, ("8732", 7, 11.99), ("7733",11,18.99), ("8274", 5, 39.95)],
          [6, ("8732", 7, 11.99), ("8274",11,18.99), ("9744", 5, 39.95)] 
         ]

list_ = list(map(lambda x: list(map(lambda y: y[1]*y[2] ,x[1:])) ,orders))
sum_ = list(map(lambda x:(reduce(lambda y,z : z+y ,x)),list_))

final_output = [[orders[i][0],sum_[i]] for i in range(len(sum_))]
print(final_output)

[[1, 490], [2, 494.46000000000004], [3, 364.79999999999995], [4, 492.57], [5, 492.57], [6, 492.57]]

# write a nested function to calulate the temp from celcius to farhen

In [163]:
def temp(c): # outer function
    f = (9/5)*c + 32 
    return f
    
    def celsius_to_faren(f): # inner function
        c = (5/9)*(f - 32)
        return c
    celsius_to_faren()
print("For 36 deree celsius is equal to Farenheight:", temp(50), "degree")

For 36 deree celsius is equal to Farenheight: 122.0 degree

# Write a nested  function so that it can work for polynomials of arbitrary degree:

\begin{equation}
\sum_{k=0}^{n} a_{k} \cdot x^{k}=a_{n} \cdot x^{n}+a_{n-1} \cdot x^{n-1}+\ldots+a_{2} \cdot x^{2}+a_{1} \cdot x+a_{0}
\end{equation}

In [113]:
def finisher(a_list):
        ans = 0
        x = 4 #pre_defined
        for n,a in enumerate(a_list):   
            ans += a*x**n
        return ans
    
def poly(a_list):
    return finisher(a_list)
    
poly([1,2,3,4])

313

# write a decorator so that the argument passed is. positive integer for a function factorial that you have created before

In [114]:
import decorator 

def recur_factorial(n):
    if n <= 0:
        return "Enter positive number."
    elif n == 1:
        return n
    else:
        return n*recur_factorial(n-1)
    
def decorator(func):
    print("*************************")
    print(f"{func:>15}")
    print("**************************")
    
decorator((recur_factorial(6)))

*************************
            720
**************************

# write a decorator to count the number of times a function has beeen called . eg define a add function and loop it for 10 time and check

In [115]:
from functools import wraps
def times(num):
    def dec(func):
        @wraps(func)
        def wrapper(*args,**kwargs):
            print("*"*30)
            for _ in range(num):
                func(*args,**kwargs)
            print("*"*30)
        return wrapper
    return dec

@times(10)
def add(a,b):
    c = a+b
    print(c)
add(3,4)

******************************
7
7
7
7
7
7
7
7
7
7
******************************

__Conclusion__

The exercise on python was very helpful for me to learn by practice. I solved mostly by myself, few of them by discuss with teammates and few of them not done.